* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #507abe;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background-color: #202022
}

.logotipo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

header a {
    background-color: white;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

header a:hover {
    background-color: rgb(36, 82, 156);
    transition: 0.5s;
    color: white;
}

.containerLogin {
    max-width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin-top: 75px;
    background-color: #1b3763;
}

.containerLogin h1{
    font-size: 40px;
    text-align: center;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input{
    width: 100%;
    height: 100%;    
    border: 2px solid #434343;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
}

.inputbox input:placeholder {
    color: #434343;
}

.inputbox i{
    position: absolute;
    height: 20px;
    font-size: 20px;
    top: 50%;
    right: 20px;      
    transform: translateY(-50%);
    color: black;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color:white;
    margin-right: 5px;
}

.remember-forgot a {
    text-decoration: none;
    color: white;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    margin-top: 20px;
    width: 100%;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.login:hover {
    background-color: rgb(36, 82, 156);
    color: white;
    transition: 0.5s;
}

.registerLink {
    font-size: 14px;
    text-align: center;
    margin: 20px;
}

.registerLink a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.registerLink a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202022;
    margin-top: auto;
    padding: 20px;
}

footer a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    gap: 15px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 800px;
}

.footerLinks li {
    text-align: center;
}

.footerLinks li a:hover {
    color: #4771b0;
}

@media (max-width: 600px) {

    header {
        padding: 10px 20px;
        height: 70px;
        justify-content: space-between;
        gap: 10px;
        font-size: 14px;
        padding: 8px 12px;
    }

    .logotipo {
        font-size: 32px;
    }

    .containerLogin {
        width: 95%;
        padding: 25px 20px;
    }

    .containerLogin h1 {
        font-size: 30px;
    }

    .inputbox {
        height: 45px;
    }

    .inputbox input {
        font-size: 14px;
    }

    .remember-forgot {
        font-size: 13px;
        flex-direction: row;
        gap: 8px;
    }

    /* .conteiner {
        max-width: 325px;
        margin-top: 27px;
    } */

    .footerLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}