* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 30px;
    background-color: #202022
}

.logotipo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

.topoPag a {
    background-color: white;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.topoPag a:hover {
    background-color: rgb(36, 82, 156);
    transition: 0.5s;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #507abe;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    max-width: 80%;
    background-color: #1b3763;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 60px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 40px;
    background-color: #1b3763;
}

.container h1 {
    text-align: center;
}

th,
td {
  vertical-align: middle;
  text-align: center;
  padding: 0.3em;
}

tfoot {
  border-top: 1px solid #999999;
}

table {
  table-layout: fixed;
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

tbody tr:nth-child(odd) {
  background-color: #1c335a;
}

caption {
  padding: 1em;
  caption-side: bottom;
  letter-spacing: 1px;
}

h2 {
    text-align: center;
}

.cardsInfo {
    display: flex;
    justify-content: space-between; /* nao estava escrito space beetwen */
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
}

.card {
    /* display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #ffffff23;
    padding: 10px;
    border-radius: 5px;
    min-width: 250px;
    min-height: 100px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff23;
    padding: 10px;
    border-radius: 5px;
    flex: 1 1 250px;
    max-width: 300px;
    min-height: 100px;
}

.card a {
    background-color: white;
    margin-top: 10px;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;  
    color: black;
    cursor: pointer;
}

.card a:hover{
    background-color: rgb(36, 82, 156);
    transition: 0.5s;
    color: white;
}

@media (max-width: 800px){

    .logotipo {
        font-size: 22px;
    }

    header {
        width: 100%;
        gap: 15px;
        padding: 15px;
        font-size: 20px;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table tbody {
        display: table;
        width: 100%;
    }
}