* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #202022
}

.logotipo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

.topoPag a {
    background-color: white;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.topoPag a:hover {
    background-color: rgb(36, 82, 156);
    transition: 0.5s;
    color: white;
}

body {
    background-color: #507abe; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.conteiner {
    max-width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: white;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background-color: #1b3763;
    margin-top: 40px;
}

.conteiner h1 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0; 
    text-align: center;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputbox input {
    width: 100%;
    height: 100%;
    border: 2px solid #434343;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
}

.inputbox input::placeholder {
    color: #434343;
}

.inputbox input[type="date"] {
    width: 100%;
    height: 100%;

    border: 2px solid #434343;
    outline: none;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
}

.termos {
    display: flex;
    margin-right: 5px;
}

.termos label input {
    accent-color: white;
    margin-right: 5px;
}

.criarConta {
    margin-top: 20px;
    width: 80%;
    margin-left: 25px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #434343;
    font-weight: 600;
}

.criarConta:hover {
    background-color: rgb(36, 82, 156);
    color: white;
    transition: 0.5s;
}

@media (max-width: 600px){

    .conteiner {
        max-width: 325px;
        margin-top: 27px;
    }

}