*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color:#1b3763 ;
    color: #434343;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height:100vh;
}

li, a, button {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.botaoLogin {
    background-color: white;
    color: black;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 10px;
    margin-left: auto;
}

.botaoLogin:hover {
    background-color: rgb(36, 82, 156);
    color: white;
    transition: 0.5s;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    background-color: #202022;
}

.navlinks {
    display: flex;
    gap: 20px;
    list-style: none;
}

.inputbox input {
    width: 58%;
    border: 2px solid #434343;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    border-radius: 30px;
    margin: 10px;
}

.inputbox input::placeholder {
    color: #434343;
}

.logotipo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

section {
    text-align: center;
}

section h3 {
    color: white;
    font-size: 25px;
}

.navegacao {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 20px;
}

.navlinks li a:hover {
    color:#4771b0;
}

button {
    padding: 10px 20px;
    background-color: #4771b0;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

button:hover {
    background-color: #39619c;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 calc(33.333% - 20px);
    width: 100%;
    max-width: 256px;
    min-height: 350px;
    background-color: rgb(198, 198, 198);
    padding: 2rem;
    border-radius: 8px;
    margin: 1rem;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 150px;
    height: 150px;
}

img {
    width: 100%;
}

h3 {
    margin: 16px 0;
}

span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202022;
    margin-top: auto;
    padding: 20px;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    gap: 15px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 800px;
}

.footerLinks li {
    text-align: center;
}

.footerLinks li a:hover {
    color: #4771b0;
}

@media (max-width: 600px) {

    header {
        flex-wrap: wrap;
        align-items: center;
    }

    .logotipo {
        order: 1;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 60%;
        min-height: auto;
    }

    .navlinks {
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .navlinks li {
        padding: 0 8px; 
    }

    .navlinks li a {
        font-size: 15px;
        line-height: 3.0;
    }

    .navegacao {
        order: 3;
        flex: unset;
        width: 100%;
    }

    .footerLinks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botaoLogin {
        order: 2;
        margin-left: auto;
    }

    section h3 {
        color: white;
        font-size: 18px;
    }

    .inputbox input {
        width: 60%;
        height: 20%;
        border: 2px solid #434343;
        font-size: 15px;
        color: black;
        padding: 15px 45px 15px 20px;
        border-radius: 30px;
        margin: 10px;
    }

}

@media (max-width: 400px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 60%;
        min-height: auto;
    }

    .navlinks li {
        padding: 0 8px;
    }

}

